<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <div>
    <h1>Register</h1>
    <h2>Please enter a username and password</h2>
    {% for msg in get_flashed_messages() %}
      <p>{{msg}}</p>
    {% endfor %}
      <div class="row justify-content-md-center">
      <div class="col-md-7 col-lg-5">
      <form action="/register" method="POST">
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

      <button class="btn btn-primary btn-lg btn-block">Sign me up!</button>
    </form>
    </div>
    </div>
  </div>
<a href="/">Go back to Landing Page</a>
</body>
</html>